<ul class="menu">
  <li>
    <a id="home" href="{% url 'home' %}">
      на сайт
    </a>
  </li>

    <li>
    <a id="main_ajax" href="{% url 'admin:main' %}">
      Админка(ajax)
    </a>
  </li>

  <li>
    <a id="users" class="{% if request.resolver_match.url_name == 'users' %}
                active
              {% endif %}">
      пользователи
    </a>
  </li>
  <li>

    <a id="categories" class="{% if request.resolver_match.url_name == 'categories' or category.name %}
                active
              {% endif %}">
      категории
      {% if category %}
      :<span>{{ category.name }}</span>
      {% endif %}
    </a>
  </li>
</ul>