<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/fonts/font-awesome/css/font-awesome.css' %}">
</head>
<body>


<div class="container">
    <div class="h2 text-center head">
      Админка
    </div>
    {% block menu %}
      <div class="navbar navbar-light bg-light">
        {% include 'adminapp/includes/inc_menu.html' %}
      </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock %}
  </div>
</body>
</html>