{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="product_delete">
    Уверены, что хотите удалить <strong>{{ product_to_delete.name }}</strong>?<br><br>
    {% if product_to_delete.name %}
      ({{ product_to_delete.name|title }}
      {% if product_to_delete.discriptions %}
        {{ product_to_delete.discriptions|title }}
      {% endif %})
    {% endif %}
    ?
    <form action="{% url 'admin:product_delete' product_to_delete.id  %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="удалить">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'admin:products' product_to_delete.category.id %}">
        Отмена
      </a>
    </button>
  </div>
{% endblock %}