<div class="pagination_block">
            <div>
              <ul class="pagination">
                {% if products.has_previous %}
                  <li><a href="?page={{ products.previous_page_number }}">&lt;</a></li>
                         {% if products.number|add:'-3' > 1 %}
                            <li><a href="?page=1">1</a></li>
                         {% endif %}
                  {% if products.number|add:'-3' >= 3 %}
                    <li>
                        <a href="?page={{ products.previous_page_number|add:'-3' }}">
                        • • •
                        </a>
                    </li>
                  {% endif %}
                {% endif %}

                {% if products.paginator.page_range|length > 1 %}
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                            <li>
                                <a class="active" href="#">{{ i }}</a>
                            </li>
                         {% elif i > products.number|add:'-4' and i < products.number|add:'4' %}
                                <li >
                                    <a href="?page={{ i }}">{{ i }}</a>
                                </li>
                         {% endif %}
                   {% endfor %}
                {% endif %}



                  {% if products.has_next %}
                    {% if products.number|add:'4' < products.paginator.num_pages %}
                        <li>
                            <a href="?page={{ products.next_page_number|add:'3' }}">
                            • • •
                            </a>
                        </li>
                    {% endif %}
                    {% if products.number|add:'3' < products.paginator.num_pages %}
                        <li>
                            <a class="pagination__link" href="?page={{ products.paginator.num_pages }}">
                            {{ products.paginator.num_pages }}
                            </a>
                        </li>
                    {% endif %}
                    <li><a href="?page={{ products.next_page_number }}">&gt;</a></li>
                  {% endif %}



              </ul>
            </div>
          </div>