<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
        <link rel="stylesheet" href="{% static 'mainapp/fonts/font-awesome/css/font-awesome.css' %}">
    {% endblock %}
    {% block js %}

    {% endblock %}
</head>
<body>
	<div class="container">
        <div class="login">
            {% block content %}

            {% endblock %}
        </div>
	</div>
</body>
</html>